@font-face {
  font-family: 'main';
  src: url('./fonts/HelveticaNeueLTStd-BdCn.otf');
}
@font-face {
  font-family: 'fancy';
  src: url('./fonts/SaolDisplay-Thin.otf');
}

html {
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
     background-image: url();
     background-size: 100%;
     background-color: #332a22;
}
h1.header {
	font-family: 'main';
	position: absolute;
	top: 0;
	bottom: 1;
	left: 0;
 	right: 1;
	color: #fbf5eb;
	font-size: 200px;
	margin: auto;
	padding-top: 35px;
	padding-left: 15px;
	line-height: 170px;
	background: transparent;
}
h1.subheader {
	font-family: 'main';
	position: absolute;
	top: 1;
	bottom: 0;
	left: 0;
 	right: 1;
	color: #fbf5eb;
	font-size: 70px;
	margin: auto;
	padding-bottom: 5px;
	padding-left: 15px;
	line-height: 60px;
	background: transparent;
}
a.link {
	font-family: 'fancy';
	top: 1;
	bottom: 0;
	left: 0;
 	right: 1;
	color: #fbf5eb;
	font-size: 73px;
	margin: auto;
	line-height: 60px;
	text-decoration: none;
}
img.svg {
	display: none;
	height: 170px;
	width: auto;
	vertical-align: text-bottom;
	transform: translateY(-40px);
}
div.background {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	clear: all;
	float: all;
	z-index: -1;
	background: #fbf5eb;
	opacity: 10%;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  opacity: 30%;
}

@media screen and (max-width: 750px) {

  html {
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
     background-image: url();
     background-size: 100%;
     background-color: #fbf5eb;
}
h1.header {
	font-family: 'main';
	position: absolute;
	top: 0;
	bottom: 1;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 70px;
	margin: auto;
	padding-top: 25px;
	padding-left: 15px;
	line-height: 60px;
}
h1.subheader {
	font-family: 'main';
	position: absolute;
	top: 1;
	bottom: 0;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 70px;
	margin: auto;
	padding-bottom: 5px;
	padding-left: 15px;
	line-height: 60px;
}
a.link {
	font-family: 'fancy';
	top: 1;
	bottom: 0;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 73px;
	margin: auto;
	line-height: 60px;
	text-decoration: none;
}
img.svg {
	height: 150px;
	width: auto;
	display: block;
	vertical-align: text-top;
	transform: translateY(0px);
}
div.background {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	clear: all;
	float: all;
	z-index: -1;
	background: #fbf5eb;
	opacity: 10%;
}
#background-video {
	display: none;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  opacity: 30%;
}

}
