@font-face {
  font-family: 'bit';
  src: url('./fonts/Retro Computer_DEMO.ttf');
}
@font-face {
  font-family: 'cool';
  src: url('./fonts/full Pack 2025.ttf');
}
@font-face {
  font-family: 'pop light';
  src: url('./fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: 'pop reg';
  src: url('./fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'cat';
  src: url('./fonts/Catamaran-Regular.ttf');
}
html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
     background-image: url();
     background-size: 100%;
     background-color: white;
}
img.center {
  float: all;
  clear: all;
  width: 39%;
    position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 
    z-index: -50;
    min-width: 500px;
}
img.name {
  padding-bottom: 3px;
  float: all;
  clear: all;
  height: 180px;
    position: absolute; 
    top: 0.5; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 
}
 div.model {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 100px;
  width: 170px;
  height: 146px;
  background-image: url(model.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  opacity: 0;
  transition: all 2s ease-out;
  z-index: 0;
 }
  div.model:hover {
  opacity: .7;
   transition: all 4s ease-in;
   z-index: -1;
 }
img.video {
  padding-bottom: 3px;
  padding-left: 10px;
  float: left;
  clear: all;
  height: 80px;
  position: absolute;
  top: 0.5;
  bottom: 0;
  margin: auto;
}
div.video {
  white-space: nowrap;
  float: all;
  clear: all;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
}
ul.video {
  white-space: nowrap;
  margin-left: 10px;
  margin-top: 10px;
  line-height: 20px;
}
div.left {
  white-space: nowrap;
  float: all;
  clear: all;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20%;
}
div.right {
  white-space: nowrap;
  float: all;
  clear: all;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1;
  right: 0;
  height: 100%;
  width: 20%;
}
div.left:hover img.leftarrow {
  transition: all 0.2s ease-in;
  opacity: 0.5;
}
div.right:hover img.rightarrow {
  transition: all 0.2s ease-in;
  opacity: 0.5;
}
img.leftarrow {
  opacity: 0; 
margin: auto;
  position: absolute;
    top: 0.5;
    bottom: 0;
  left: 0;
  z-index: -3;
  height: 100%;
  width: 230%;
  transition: all 0.15s ease-out;
}
img.rightarrow {
  opacity: 0; 
margin: auto;
  position: absolute;
    top: 0.5;
    bottom: 0;
  left: 1;
  right: 0;
  z-index: -3;
  height: 100%;
  width: 230%;
  transition: all 0.15s ease-out;
}
img.illustration {
  padding-bottom: 3px;
  padding-right: 10px;
  float: all;
  clear: all;
  height: 250px;
  position: absolute;
  top: 0.5;
  right: 0;
  bottom: 0;
  margin: auto;
}
div.titles {
  position: relative;
  height: 50%;
  border-bottom: solid;
  border-bottom-width: 1px;
}
div.illustration {
  text-align: right;
  white-space: nowrap;
  float: all;
  clear: all;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
}
ul.illustration {
  white-space: nowrap;
  margin-right: 10px;
  margin-top: 10px;
  line-height: 20px;
}
div.video li div {
  visibility: hidden;
  z-index: -49;
}
div.illustration li div {
  visibility: hidden;
  z-index: -49;
}
li a:hover + div {
  visibility: visible;
  z-index: -10;
  opacity: 0.2;
}
li a:hover + div.flower {
  visibility: visible;
  z-index: -10;
  opacity: 0.35;
}
li a:hover + div.lizzo {
  visibility: visible;
  z-index: -10;
  opacity: 0.25;
}
li a:hover + div.laputa {
  visibility: visible;
  z-index: -10;
  opacity: 0.2;
}
li a:hover + div.deantoni {
  visibility: visible;
  z-index: -10;
  opacity: 0.3;
}
li a:hover + div.saasen {
  visibility: visible;
  z-index: -10;
  opacity: 1;
}
li a:hover + div.crow {
  visibility: visible;
  z-index: -10;
  opacity: 1;
}
li a:hover + div.humanize {
  visibility: visible;
  z-index: -10;
  opacity: 0.3;
}
li a:hover + div.wallpaper {
  visibility: visible;
  z-index: -10;
  opacity: 0.3;
}
li a:hover + div.store {
  visibility: visible;
  z-index: -10;
  opacity: 0.2;
}
li a:hover + div.etchings {
  visibility: visible;
  z-index: -10;
  opacity: 0.7;
}
li a:hover + div.eddy {
  visibility: visible;
  z-index: -10;
  opacity: 0.5;
}
li a:hover + div.space {
  visibility: visible;
  z-index: -10;
  opacity: 0.5;
}
li a:hover + div.sabor {
  visibility: visible;
  z-index: -10;
  opacity: 1;
}
img.test {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 110%;
  width: 200%;
  transform: translateY(-45.5%);
  padding-left: 150%;
  animation: blink 0.06s;
    animation-iteration-count: infinite;
}
div.test {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('2ndbase.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.lizzo {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('lizzo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.sabor {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('sabor.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.deantoni {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('deantoni.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.laputa {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('laputa.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.test2 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('2ndbase.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.crow {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('crow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.flower {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('flower.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.humanize {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('humanize.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.wallpaper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('coin.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.store {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('store.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.saasen {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('saasen.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.etchings {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('etchings.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.eddy {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('eddy.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 80%;
}
div.space {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('space.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.box {
  float: all;
  clear: all;
  position: absolute;
  left: 0;
  right: 0;
  height: 10%;
  width: 38%;
  top: 0;
  margin: auto;
}
div.box2 {
  text-align: center;
  float: all;
  clear: all;
  position: absolute;
  left: 0;
  right: 0;
  height: 10%;
  width: 38%;
  top: 1;
  bottom: 0;
  margin: auto;
}
img.box {
  position: absolute;
   bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 35px;
}
img.box2 {
  position: absolute;
   bottom: 0;
  top: 0;
  left: 0.5;
  right: 0;
  margin: auto;
  height: 35px;
}
img.box3 {
  position: absolute;
   bottom: 0;
  top: 0;
  left: 0;
  right: 0.5;
  margin: auto;
  height: 35px;
}
a {
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
a.cv {
  font-size: 17px;
  font-family: sans-serif;
  text-decoration: none;
  font-style: italic;
  color: grey;
}
p {
  padding-top: 20px;
}
a:hover {
  cursor: crosshair;
  text-decoration: underline;
}
a.hide:hover {
  cursor: default;
}
p.bottom {
  text-align: center;
  float: all;
  clear: all;
  position: absolute;
  top: 1;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 5px;
  font-family: sans-serif;
  color: lightgrey;
  font-size: 9px;
  z-index: -20;
}


@media screen and (min-width: 1500px) {
  div.box {
    width: 20%;
    height: 8%;
  }
}
@media screen and (max-width: 650px) {
  div.box {
    width: 90%;
    position: fixed;
    background-color: white;
  }
  body {
  overflow: auto;
  height: 100%;
     background-image: url();
     background-size: 100%;
     background-color: white;
}
img.center {
  float: all;
  clear: all;
  width: 93%;
    position: absolute; 
    top: 0; right: 0; 
    bottom: 1; left: 0;
    margin: auto; 
    z-index: -50;
    min-width: 0px;
}
img.name {
  padding-bottom: 900px;
  float: all;
  clear: all;
  height: 200px;
    position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 
}
 div.model {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 100px;
  width: 0px;
  height: 0px;
  background-image: url(model.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  opacity: 0;
  transition: all 2s ease-out;
  z-index: -70;
 }
  div.model:hover {
  opacity: .7;
   transition: all 4s ease-in;
   z-index: -70;
 }
img.video {
  justify-content: center;
  padding-bottom: 200px;
  padding-left: 0px;
  float: left;
  clear: all;
  height: 100px;
  position: absolute;
  top: ;
  left: 0;
  right: 0;
  margin: auto;
}
div.video {
  z-index: -15;
  white-space: unset;
  float: all;
  clear: all;
  position: relative;
  bottom: 0;
  height: 100%;
  width: 100%;
}
ul.video {
  text-align: center;
  z-index: 20;
  padding-top: -100px;
  white-space: unset;
  margin-left: 0px;
  margin-top: 0px;
  line-height: 27px;
}
div.left {
  margin-top: 410px; 
  z-index: 3;
  white-space: unset;
  float: all;
  clear: all;
  position: relative;
  top: ;
  bottom: ;
  height: 10%;
  width: 100%;
}
div.right {
  margin-top: -600px;
  white-space: unset;
  float: all;
  clear: all;
  position: relative;
  top: unset;
  bottom: unset;
  top: unset;
  left: 0;
  right: 0;
  height: 0px;
  width: 100%;
}
div.left:hover img.leftarrow {
  transition: all 0.2s ease-in;
  opacity: 0.5;
}
div.right:hover img.rightarrow {
  transition: all 0.2s ease-in;
  opacity: 0.5;
}
img.leftarrow {
  visibility: hidden;
  opacity: 0; 
margin: auto;
  position: absolute;
    top: 0.5;
    bottom: 0;
  left: 0;
  z-index: -10;
  height: 0%;
  width: 0%;
  transition: all 0.15s ease-out;
}
img.rightarrow {
  visibility: hidden;
  opacity: 0; 
margin: auto;
  position: absolute;
    top: 0.5;
    bottom: 0;
  left: 1;
  right: 0;
  z-index: -10;
  height: 0%;
  width: 0%;
  transition: all 0.15s ease-out;
}
img.illustration {
  padding-right: 0px;
  padding-bottom: 600px;
  float: all;
  clear: all;
  height: 350px;
  position: absolute;
  top: 0.5;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
div.titles {
  position: relative;
  width: 100%;
  height: 1500px;
  border-bottom: none;
}
div.illustration {
  text-align: center;
  white-space: unset;
  float: unset;
  clear: unset;
  position: unset;
  bottom: unset;
  height: 30px;
  width: 100%;
}
ul.illustration {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  white-space: unset;
  line-height: 27px;
}
div.video li div {
  visibility: hidden;
  z-index: -49;
}
div.illustration li div {
  visibility: hidden;
  z-index: -49;
}
li a:hover + div.test2 {
  visibility: visible;
  z-index: -10;
  opacity: 1;
}
li a:hover + div.flower {
  visibility: visible;
  z-index: -10;
  opacity: 0.35;
}
li a:hover + div.lizzo {
  visibility: visible;
  z-index: -10;
  opacity: 0.25;
}
li a:hover + div.laputa {
  visibility: visible;
  z-index: -10;
  opacity: 0.2;
}
li a:hover + div.crow {
  visibility: visible;
  z-index: -10;
  opacity: 0.2;
}
li a:hover + div.humanize {
  visibility: visible;
  z-index: -10;
  opacity: 0.3;
}
li a:hover + div.wallpaper {
  visibility: visible;
  z-index: -10;
  opacity: 0.3;
}
li a:hover + div.store {
  visibility: visible;
  z-index: -10;
  opacity: 0.2;
}
li a:hover + div.deantoni {
  visibility: visible;
  z-index: -10;
  opacity: 0.3;
}
li a:hover + div.saasen {
  visibility: visible;
  z-index: -10;
  opacity: 1;
}
li a:hover + div.etchings {
  visibility: visible;
  z-index: -10;
  opacity: 0.7;
}
li a:hover + div.eddy {
  visibility: visible;
  z-index: -10;
  opacity: 0.5;
}
li a:hover + div.space {
  visibility: visible;
  z-index: -10;
  opacity: 0.5;
}
img.test {
   display: none;
  visibility: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 110%;
  width: 0%;
  transform: translateY(-45.5%);
  padding-left: 150%;
  animation: blink 0.06s;
    animation-iteration-count: infinite;
}
div.test {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('2ndbase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.lizzo {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('lizzo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.laputa {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('laputa.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.sabor {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('sabor.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.test2 {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('2ndbase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.crow {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('crow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.flower {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('flower.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.humanize {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('humanize.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.wallpaper {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('coin.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.deantoni {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-left: 160%;
  background-image: url('humanize.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.store {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('store.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.etchings {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('etchings.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.eddy {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('eddy.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 80%;
}
div.saasen {
   display: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 180%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('saasen.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 80%;
}
div.space {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150%;
  width: 0%;
  transform: translateY(-33.5%);
  margin-right: 160%;
  background-image: url('space.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
}
div.box2 {
  text-align: center;
  float: all;
  clear: all;
  position: relative;
  left: 0;
  right: 0;
  height: 10%;
  width: 38%;
  top: 0;
  bottom: 0;
  margin-top: 110px;
}
img.box {
  position: absolute;
   bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 35px;
}
img.box2 {
  position: absolute;
   bottom: 0;
  top: 0;
  left: 0.5;
  right: 0;
  margin: auto;
  height: 35px;
}
img.box3 {
  position: absolute;
   bottom: 0;
  top: 0;
  left: 0;
  right: 0.5;
  margin: auto;
  height: 35px;
}
a {
  font-weight: lighter;
  font-size: 19px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
a.cv {
  font-size: 17px;
  font-family: sans-serif;
  text-decoration: none;
  font-style: italic;
  color: grey;
}
p {
  padding-top: 20px;
}
a:hover {
  cursor: crosshair;
  text-decoration: underline;
}
a.hide:hover {
  cursor: default;
}
p.bottom {
  text-align: center;
  float: all;
  clear: all;
  position: relative;
  top: 1;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 5px;
  font-family: sans-serif;
  color: lightgrey;
  font-size: 9px;
  z-index: -20;
}
}
