@font-face {
  font-family: 'main';
  src: url('./_fonts/HelveticaNeueLTStd-BdCn.otf');
}
@font-face {
  font-family: 'fancy';
  src: url('./_fonts/SaolDisplay-Thin.otf');
}

html {
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
     background-image: url();
     background-size: 100%;
     background-color: #fbf5eb;
}
h1.header {
	font-family: 'main';
	top: 0;
	bottom: 1;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 200px;
	margin: auto;
	padding-top: 35px;
	padding-left: 15px;
	line-height: 170px;
}
h1.subheader {
	font-family: 'main';
	position: absolute;
	top: 1;
	bottom: 0;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 70px;
	margin: auto;
	padding-bottom: 5px;
	padding-left: 15px;
	line-height: 60px;
}
a.link {
	font-family: 'fancy';
	top: 1;
	bottom: 0;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 73px;
	margin: auto;
	line-height: 60px;
	text-decoration: none;
}
img.svg {
	height: 170px;
	width: auto;
	vertical-align: text-bottom;
	transform: translateY(-40px);
}

@media screen and (max-width: 650px) {

  html {
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
     background-image: url();
     background-size: 100%;
     background-color: #fbf5eb;
}
h1.header {
	font-family: 'main';
	top: 0;
	bottom: 1;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 70px;
	margin: auto;
	padding-top: 35px;
	padding-left: 15px;
	line-height: 60px;
}
h1.subheader {
	font-family: 'main';
	position: absolute;
	top: 1;
	bottom: 0;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 70px;
	margin: auto;
	padding-bottom: 5px;
	padding-left: 15px;
	line-height: 60px;
}
a.link {
	font-family: 'fancy';
	top: 1;
	bottom: 0;
	left: 0;
 	right: 1;
	color: #332a22;
	font-size: 73px;
	margin: auto;
	line-height: 60px;
	text-decoration: none;
}
img.svg {
	height: 150px;
	width: auto;
	display: block;
	vertical-align: text-top;
	transform: translateY(0px);
}

}
