@font-face {
  font-family: 'bit';
  src: url('Retro Computer_DEMO.ttf');
}
@font-face {
  font-family: 'cool';
  src: url('full Pack 2025.ttf');
}
@font-face {
  font-family: 'block';
  src: url('italic_bricks.ttf');
}
.vertical {
  float: right;
  width: 500px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0.25;
  padding-bottom: 350px;
  margin: auto;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
}
h1.title {

  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
h1.title2 {
   font-style: italic;
  font-family: 'Droid Serif', serif;
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
h1.title3 {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 9px;
  text-align: center;
  margin-top: 10px;
  margin-right: 0px;
}
body {
     background-image: url(center.png);
     background-size: 120%;
     background-position: center;
}
.vid {

width: 940px; 
    height: 529px; 

    position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 
}

div.back {
  z-index: 5;
  background-image: url(back.png);
  background-size: 30px;
  float: left;
  clear: all;
  width: 30px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 10px;
}

div.back:hover {
  background-image: url(back2.png);
}
a:hover {
  cursor: crosshair;
}
