body {
     background: url("") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}
h1 {
     margin: auto;
     top: 1;
     bottom: 0;
     position: absolute;
}
a {
     text-decoration: none;
     color: white;
     font-family: sans-serif;
     font-size: 12px;
     padding-bottom: 20px;
}
div.back {
  background-image: url(back.png);
  background-size: 30px;
  float: left;
  clear: all;
  width: 30px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 10px;
}
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover;
}
.vid {

width: 740px; /* you have to have a size or this method doesn't work */
    height: 460px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a:hover {
     cursor: crosshair;
     text-decoration: underline;
}

