@font-face {
  font-family: 'bit';
  src: url('Retro Computer_DEMO.ttf');
}
@font-face {
  font-family: 'cool';
  src: url('full Pack 2025.ttf');
}
@font-face {
  font-family: 'block';
  src: url('italic_bricks.ttf');
}
.vertical {
  background-color: white;
  float: all;
  clear: all;
  max-width: 500px;
  height: 100px;
  position: absolute;
  top: 1;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
h1.title {
  margin-top: 20px;

   font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}
h1.title2 {
  top: 0;
  bottom: 0;
  font-family: 'Droid Serif', serif;
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
  font-style: italic;
}
body {
  background-image: url(wallpaper2.png);
  background-size: 100%;

}
div.back {
  background-image: url(back.png);
  background-size: 30px;
  float: left;
  clear: all;
  width: 30px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 10px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
}

div.back:hover {
  background-image: url(back2.png);
}
a:hover {
  cursor: crosshair;
}

@media screen and (max-width: 650px) {
  div.back {
    top: 0;
    bottom: unset;
    margin-top: 20px;
  }
}
